 
venv/
.venv/
env/
.env/
ENV/
venv.bak/
.venv.bak/


.poetry/
.pipenv/
.pyenv/
pypackages/


pip-wheel-metadata/
pip-log.txt
pip-delete-this-directory.txt
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
pycache/
*.py[cod]
*$py.class
.so


pip-cache/
.pip-cache/
pipfile.lock  


htmlcov/
.coverage
.coverage.
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.tox/
.coverage

Jupyter Notebook
.ipynb_checkpoints


.idea/
.vcs.xml
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.code-workspace


.DS_Store
.AppleDouble
.LSOverride


Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


*.log
*.sql
*.sqlite
.sqlite3


.env
.env.local
.env..local
*.pem
config.py
secrets/


.docker/
docker-compose.override.yml


*.bak
*.dump


instance/
.webassets-cache.vscode-server/
.vscode-server/